html {
  box-sizing: border-box;
}

#text {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f8ff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #a2d5c6;
}

.header__input {
  flex: 1;
  margin-right: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  color: #8a307f;
}

.header__input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #8a307f;
}

.header__input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.btns-group {
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 4px;
  padding: 18px 35px;
  font: var(--middle-font-sm);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: #ffbf00;
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.btn--archive {
  background-color: #d72631;
}

.btn--done {
  background-color: #5c3c92;
}

.btn[disabled='disabled'] {
  opacity: 0.3;
}

.btn:hover {
  background-color: #fff;
  color: #90ee90;
  box-shadow: 0 0 15px #90ee90;
}

.btn[disabled='disabled']:hover {
  background-color: #ffbf00;
  color: #fff;
  box-shadow: none;
}
.btn--archive:hover {
  background-color: #fff;
  color: #d72631;
  box-shadow: 0 0 7px #ac000b;
}

.btn--done:hover {
  background-color: #fff;
  color: #5c3c92;
  box-shadow: 0 0 7px #5700ec;
}

.btn:not(:last-child) {
  margin-right: 10px;
}
/* #408ec6 #a2d5c6 #1e2761 */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
  border-bottom: 2px solid rgb(1, 196, 179);
  transition: all 0.3s ease-in-out;
}

.task:first-child {
  border-top: 2px solid rgb(1, 196, 179);
}

.task.active {
  background-color: #077b8a;
  transition: all 0.3s ease-in-out;
}

.task__text {
  display: inline-block;
  overflow: hidden;
  max-width: 750px;
  margin-right: 5px;
  font-size: 20px;
  color: #1300ff;
  text-overflow: ellipsis;
}

.task.done .task__text {
  text-decoration: line-through;
  color: crimson;
}

@media (max-width: 900px) {
  .header {
    justify-content: flex-end;
  }

  .header__input {
    margin-right: 0;
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .task {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .task__text {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .btns-group {
    align-items: flex-end;
  }
}
